<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Game</title>
</head>
<body>

<div id="home-section">
    <h2>Welcome to Micro-Service Tic-Tac-Toe Game!</h2>
    <p>Choose an option:</p>
    <button onclick="redirectTo('signup')">Sign Up</button>
    <button onclick="redirectTo('recover_password')">Recover Password</button>
</div>

<script>
    function redirectTo(page) {
        window.location.href = page;
    }
</script>

</body>
</html>
