<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <!-- Adicione quaisquer estilos adicionais ou links para folhas de estilo externas aqui -->
</head>
<body>

<h2>Recuperação de Senha</h2>
<p>Insira seu endereço de e-mail registrado para recuperar a senha:</p>

<form id="recover-password-form">
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required><br>

    <button type="button" onclick="submitRecoverPassword()">Recuperar Senha</button>
</form>

<script>
    function submitRecoverPassword() {
        var email = document.getElementById("email").value;

        // Adicione lógica aqui para enviar um pedido de recuperação de senha
        // Por exemplo, usar JavaScript para fazer uma solicitação POST para o servidor

        alert("Um e-mail de recuperação de senha foi enviado, verifique sua caixa de entrada.");
    }
</script>

</body>
</html>
